<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Chapter 1</li>
                <li>Chapter 2</li>
                <li>Chapter 3</li>
                <li>Chapter 4</li>
            </ol>
            <hr>
            <!--<button-->
                <!--class="btn btn-primary"-->
                <!--(click)="showSecret = !showSecret"-->
            <!--&gt;Display Details</button>-->
            <button
                    class="btn btn-primary"
                    (click)="onToggleDetails()"
            >Display Details</button>
            <p *ngIf="showSecret">Secret Password = tuna</p>
            <div
                *ngFor="let logItem of log; let index = index"
                [ngStyle]="{backgroundColor: index >= 5 ? 'blue' : 'transparent'}"
                [ngClass]="{'white-text': index >= 5}"
            >
                {{ index }}
                History: {{ logItem }}
            </div>
        </div>
    </div>
</div>
